.footer {
    width: 90%;
    padding: 3% 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;

    &-hr {
        border: 1px solid var(--neutral-400-color);
        margin: 0;
    }

    &-info {
        display: flex;
        width: 45%;
        max-width: 500px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &-logo {
            width: 46%;
        }

        &-text {
            color: var(--neutral-600-color);
            font-size: .3rem;
        }
    }

    &-search {
        border: 1px solid var(--neutral-300-color);
        width: 45%;
        max-width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .2rem .25rem .2rem .35rem;
        border-radius: 30px;
        box-shadow: 0px 0px 20px -13px rgba(0, 0, 0, 0.44);

        &-button {
            width: 25%;
            font-size: 0.25rem;
            font-weight: 700;
            color: var(--neutral-100-color);
            background-color: var(--primary-color);
            border: none;
            padding: .2rem .2rem;
            border-radius: 25px;
            transition: var(--transition-time);

            &:active {
                transform: scale(0.95);
                transition: var(--transition-time);
            }
        }

        &-input {
            font-weight: 400;
            width: 75%;
            border: none;
            outline: none;
            font-size: .3rem;
            color: var(--neutral-600-color);
        }
    }
}